[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
drf-yasg = "*"
djangorestframework-simplejwt = "*"
celery = "*"
redis = "*"
psycopg2-binary = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
